<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Supports itunes</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.yourCompanyName.appName</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>APIExample</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>APIExample</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need access to Bluetooth for audio device connections (e.g., Bluetooth headsets).</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need access to your calendar to help manage your events and meetings.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera for video calls and capturing photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to add friends or send invitations.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Your app requires access to your documents folder to save or load files.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your health data for fitness tracking and health-related features.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need access to your health data to update your fitness progress.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your location even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location for location-based features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for audio recording and video calls.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to add photos and videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save images and videos.</string>
	<key>NSRemindersUsageDescription</key>
	<string>We need access to your reminders for task management.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>We need access to your screen for sharing during video calls or meetings.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to your speech for voice recognition and commands.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
